{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block context%}
<form method="post">
    <div class="row">
        <div class="col-4 ">
            <div class="card mb-4 box-shadow">
                <div class="card-header  text-center">
                    <h4 class="my-0 font-weight-normal">
                        {% if object %}
                            {{ object.name }}
                        {% else %}
                            Добавить продукт
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-lg btn-block btn-outline-primary" type="submit">
                        {% if object %}
                            Сохранить
                        {% else %}
                            Добавить
                        {% endif %}
                    </button>
                    {% if object and perms.catalog.delete_product %}
                        <a class="btn btn-lg btn-block btn-outline-danger" href="{% url 'catalog:product_delete' object.pk %}">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if object %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header  text-center">
                    <h4 class="my-0 font-weight-normal">
                        Версии продукта
                    </h4>
                </div>
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    {{ form.as_p }}
                        {% if not forloop.last %}
                        <hr>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}