{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block context%}
<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">
                    {{ object.name }}
                </h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="p-2 btn btn-outline-primary" type="submit">Отправить</button>
                    <h4></h4>
                </form>
                <button class="btn btn-lg btn-block btn-outline-primary" type="button">Купить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}