{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block context%}
<div class="row text-center">
    {% for item in object_list %}
        {% if item.is_active or perms.catalog.change_product%}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ item.name }}</h4>
                    </div>
                    <div class="card-body">
                        {% if item.picture %}
                        <img src="{% mediapath item.picture %}" alt="..." class="img-thumbnail">
                        {% endif %}
                        <h1 class="card-title pricing-card-title">{{ item.slug }}</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>- {{ item.overview }}
                            </li>
                            {% if item.is_active %}
                            {% for version in item.is_active_vers %}
                            <li> + {{ version }}</li>
                            {% endfor %}
                            {% endif %}
                            <li>-> Добавил: {{ item.creator|default:"уже нет его" }}</li>
                        </ul>
                        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product_detail' item.pk %}">Подробнее</a>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                        {% if perms.catalog.change_product and request.user.is_staff or item.creator == request.user %}
                        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product_update' item.pk %}">Изменить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif%}
    {% endfor %}
</div>
{% endblock %}