{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block context%}
<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                {% if item.picture %}
                    <img src="{% mediapath object.picture %}" alt="..." class="img-thumbnail">
                {% endif %}
                <h1 class="card-title pricing-card-title">{{ object.price }}₽</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">

                    <li>- {{ object.overview }}</li>
                    <li>- Добавил {{ object.creator|default:"уже нет его" }}</li>

                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}